body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#top-navigation {
    background-color: #30302d;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}

.top-bar-item {
    padding: 0 15px 0 15px;
}

#logo {
    width: 40%;
    padding: 10px;
}

#menu-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#menu {
    list-style-type: none;
    background-color: pink;
    /* margin: auto; */
    /* padding: 1%; */
}

.menu-item {
    color: #000000;
    display: inline;
    /* float: right; */
    padding: 0 20px 0 0;
}

.menu-item a {
    text-decoration: none;
}

#banner {
    text-align: center;
    background-image: linear-gradient(to bottom left, rgba(191, 191, 11, 0.5), rgba(0,0,0,0.5)), url(fasteners.jpg);
    padding: 15%;
}

h3 {
    text-align: center;
}

.container {
    background-color: plum;
    position: relative;
    margin: 0;
    /* min-height: 100%; */
}

.categories-wrap {
    padding-bottom: 10rem;
}


footer {
    background: purple;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(footer-screws-image.jpg);    
    bottom: 0;
    position: absolute;
    width: 100%;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}



/* #footer-container {
    background-color: rgba (0,0,0,1);
} */

/* RESPONSIVE LAYOUTS */

@media screen and (max-width: 800px) {

    /* header {
        display: flex;
        flex-direction: column;
    } */

    #logo {
        width: 80%;
    }
    
    #menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0;
    }

    .menu-item {
        padding: 20px;
    }

}