body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#top-navigation {
    background-color: #30302d;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
}

#logo {
    width: 40%;
}


#banner {
    text-align: center;
    background-image: url(fasteners.jpg);
    padding: 15%;
}

#menu-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#menu {
    display: flex;
    /* justify-content: space-around; */
    list-style-type: none;
    margin: auto;
    /* padding: 1%; */
}

.menu-item {
    color: #000000;
    padding: 0 20px 0 20px;
    text-decoration: none;
}

footer {
    background-color: blueviolet;
    bottom: 0;
    position: absolute;
    width: 100%;
}

/* RESPONSIVE LAYOUTS */

@media screen and (max-width: 800px) {

    /* header {
        display: flex;
        flex-direction: column;
    } */

    #logo {
        width: 80%;
    }
    
    #menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}