body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

#top-navigation {
    background-color: #30302d;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;
    /* font-size: 14px; */
}

.top-bar-item {
    padding: 0 15px 0 15px;
}

#logo-container {
    max-width: 500px;
}

#logo {
    width: 70%;
    padding: 10px;
}

#menu-container {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

#menu {
    list-style-type: none;
    /* background-color: pink; */
    /* margin: auto; */
    /* padding: 1%; */
}

.menu-item {
    color: #000000;
    display: inline;
    /* float: right; */
    padding: 0 20px 0 0;
}

.menu-item a {
    text-decoration: none;
}

#banner {
    text-align: center;
    background-image: linear-gradient(to bottom left, rgba(191, 191, 11, 0.5), rgba(0,0,0,0.5)), url(fasteners.jpg);
    padding: 15%;
}

.section-description {
    /* text-align: center; */
    /* background-color: aqua; */
    margin: 10%;
    padding: 20px;
    border-left: 10px solid #bfbf0b;

}

.container {
    /* background-color: plum; */
    position: relative;
    /* min-height: 100%; */
}

.categories-wrap {
    /* background-color: #bfbf0b; */
    /* border-left: 5px solid #bfbf0b; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10%;
    margin-bottom: 0;
    padding-bottom: 30rem;
}

.category-item {
    background-color:#ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: #000000;
    cursor: pointer;
    margin: 10px;
    /* padding: 5px; */
    text-align: center;
    transition: 0.3s;
}

.category-item img {
    /* background-color: burlywood; */
    max-width: 300px;
}
.category-item:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


footer {
    background: #30302d;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(footer-screws-image.jpg);    
    bottom: 0;
    /* margin: auto; */
    /* padding: 3%; */
    position: absolute;
    width: 100%;
}

#footer-container {
    display: flex;
    margin: 0;
    /* padding: 50px; */
    width: 100vw;
}

.footer-category {
    color: #ffffff;
    text-decoration: none;
}

.footer-category ul {
    list-style-type: none;
    padding: 0;
}

.footer-category p, li {
    margin: 0;
    padding: 10px;
    padding-left: 0;
}

/* #footer-container {
    background-color: rgba (0,0,0,1);
} */

/* RESPONSIVE LAYOUTS */

@media screen and (max-width: 800px) {

    /* header {
        display: flex;
        flex-direction: column;
    } */

    #logo {
        width: 80%;
    }
    
    #menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 0;
    }

    .menu-item {
        padding: 20px;
    }

}